 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/group-diverse-g-min.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 25px rgba(0,0,0,0.3);
  margin: 60px 520px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 520px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  --radius: 5px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 47px auto 60px 0;
  padding: 21px 30px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 50px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 359.328px 359.328px 359.328px;
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 151px;
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.6667px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.500024999999999px);
    grid-template-columns: repeat(2, calc(50% - 15.500024999999999px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 75px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/fgfg.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  --radius: 5px;
  margin: 30px 270px 0 0;
  padding: 12px 38px 14px 37px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 211px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-image-2 {
  min-height: 635px;
  background-image: url("images/white-business-man-working-offic.jpg");
  background-position: 25.34% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 348px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 170px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-3 .u-image-2 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1952px;
  }

  .u-section-3 .u-image-1 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 887px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-3 .u-image-1 {
    min-height: 400px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 665px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-3 .u-image-1 {
    min-height: 252px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 419px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 7px 0 19px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 7.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 7.33333px));
  min-height: 523px;
  grid-gap: 11px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-2 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-3 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-4 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-8 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-5 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-10 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 20px 20px 0;
}

.u-section-4 .u-line-6 {
  width: 319px;
  transform-origin: left center;
  margin: 0 34px 0 0;
}

.u-section-4 .u-text-12 {
  text-transform: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 34px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 7.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7.33333px));
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.4999975px);
    grid-template-columns: repeat(2, calc(50% - 5.4999975px));
    min-height: 752px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-line-1 {
    margin-right: 11px;
  }

  .u-section-4 .u-line-2 {
    margin-right: 11px;
  }

  .u-section-4 .u-line-3 {
    margin-right: 11px;
  }

  .u-section-4 .u-line-4 {
    margin-right: 11px;
  }

  .u-section-4 .u-line-5 {
    margin-right: 11px;
  }

  .u-section-4 .u-line-6 {
    margin-right: 11px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 701px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  font-size: 3.4375rem;
  margin: 60px auto 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center;
  margin: 60px 0 0;
}

.u-section-5 .u-list-1 {
  width: 751px;
  margin: 60px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 396px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -79px 0 0 121px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: -79px 0 0 121px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-5 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  margin: -79px 0 0 121px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 90px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 90px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 106px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 106px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 106px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/female-work-brainstorming.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 289px;
  background-image: url("images/front-view-team-meeting-mock-up.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/16758708_rm405-da01-04-mockup.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/front-view-team-meeting-mock-up.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  background-image: url("images/top-view-image-motivated-employees-working-together-office-official-meeting-concept-business.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  background-image: url("images/planning-risk-strategy-project-management-business.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-7 {
  background-image: url("images/group-people-working-out-business-plan-office.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-8 {
  min-height: 289px;
  background-image: url("images/female-work-brainstorming.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    min-height: 238px;
  }

  .u-section-6 .u-image-2 {
    min-height: 238px;
  }

  .u-section-6 .u-image-3 {
    min-height: 238px;
  }

  .u-section-6 .u-image-4 {
    min-height: 238px;
  }

  .u-section-6 .u-image-5 {
    min-height: 238px;
  }

  .u-section-6 .u-image-6 {
    min-height: 238px;
  }

  .u-section-6 .u-image-7 {
    min-height: 238px;
  }

  .u-section-6 .u-image-8 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 524px;
  }

  .u-section-6 .u-image-1 {
    min-height: 365px;
  }

  .u-section-6 .u-image-2 {
    min-height: 182px;
  }

  .u-section-6 .u-image-3 {
    min-height: 365px;
  }

  .u-section-6 .u-image-4 {
    min-height: 365px;
  }

  .u-section-6 .u-image-5 {
    min-height: 365px;
  }

  .u-section-6 .u-image-6 {
    min-height: 365px;
  }

  .u-section-6 .u-image-7 {
    min-height: 365px;
  }

  .u-section-6 .u-image-8 {
    min-height: 182px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 3737px;
  }

  .u-section-6 .u-image-1 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 546px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-7 {
    min-height: 548px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-8 {
    min-height: 546px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2545px;
  }

  .u-section-6 .u-image-1 {
    min-height: 345px;
  }

  .u-section-6 .u-image-2 {
    min-height: 344px;
  }

  .u-section-6 .u-image-3 {
    min-height: 345px;
  }

  .u-section-6 .u-image-4 {
    min-height: 345px;
  }

  .u-section-6 .u-image-5 {
    min-height: 345px;
  }

  .u-section-6 .u-image-6 {
    min-height: 345px;
  }

  .u-section-6 .u-image-7 {
    min-height: 345px;
  }

  .u-section-6 .u-image-8 {
    min-height: 344px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 433px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 313px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 0;
}

.u-section-7 .u-line-1 {
  width: 200px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 313px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  --radius: 5px;
  margin: 30px auto 0 0;
  padding: 16px 41px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 825px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 363px;
  background-image: url("images/businessmen-working-strategic-planning.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 396px;
}

.u-section-8 .u-container-layout-3 {
  padding: 50px 10px 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-8 .u-image-2 {
  background-image: url("images/fgfgfg.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 396px;
}

.u-section-8 .u-container-layout-5 {
  padding: 50px 10px 30px 11px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 1px 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-8 .u-image-3 {
  min-height: 363px;
  background-image: url("images/business-people-shaking-hands-to.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-8 .u-image-1 {
    min-height: 299px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 327px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    min-height: 229px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-3 {
    min-height: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 344px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 631px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 687px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 217px;
  }

  .u-section-8 .u-image-2 {
    min-height: 397px;
  }

  .u-section-8 .u-image-3 {
    min-height: 433px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 552px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-9 .u-image-1 {
  min-height: 442px;
  background-image: url("images/hands-stack-business-people_1074.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 442px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  margin: 14px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  --radius: 5px;
  margin: 29px auto 0 0;
  padding: 16px 41px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-9 .u-image-1 {
    min-height: 349px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-9 .u-image-1 {
    min-height: 267px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-9 .u-image-1 {
    min-height: 546px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-9 .u-image-1 {
    min-height: 344px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 47px;
  margin-bottom: 60px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5.5px));
  min-height: 536px;
  grid-gap: 11px;
}

.u-section-10 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-10 .u-image-1 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-1 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-10 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-10 .u-image-2 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-2 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-10 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-10 .u-image-3 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-3 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-10 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-10 .u-image-4 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-4 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-10 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-10 .u-image-5 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-5 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-10 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-11 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

.u-section-10 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-10 .u-image-6 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 5px auto 0 0;
}

.u-section-10 .u-group-elements-6 {
  width: 321px;
  min-height: 63px;
  height: auto;
  margin: -106px 0 0 auto;
}

.u-section-10 .u-text-12 {
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-text-13 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 639px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-1 {
    width: 236px;
    margin-bottom: 36px;
    margin-left: 169px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-2 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-2 {
    width: 236px;
    margin-bottom: 36px;
    margin-left: 169px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-3 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-3 {
    width: 236px;
    margin-bottom: 36px;
    margin-left: 169px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-4 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-4 {
    width: 236px;
    margin-bottom: 36px;
    margin-left: 169px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-5 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-5 {
    width: 236px;
    margin-left: 169px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-image-6 {
    margin-top: 0;
  }

  .u-section-10 .u-group-elements-6 {
    width: 236px;
    margin-bottom: 36px;
    margin-left: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-1 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }

  .u-section-10 .u-text-3 {
    width: auto;
  }

  .u-section-10 .u-image-2 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-2 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-4 {
    width: auto;
  }

  .u-section-10 .u-text-5 {
    width: auto;
  }

  .u-section-10 .u-image-3 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-3 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }

  .u-section-10 .u-text-7 {
    width: auto;
  }

  .u-section-10 .u-image-4 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-4 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-8 {
    width: auto;
  }

  .u-section-10 .u-text-9 {
    width: auto;
  }

  .u-section-10 .u-image-5 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-5 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-10 {
    width: auto;
  }

  .u-section-10 .u-text-11 {
    width: auto;
  }

  .u-section-10 .u-image-6 {
    margin-left: auto;
  }

  .u-section-10 .u-group-elements-6 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-12 {
    width: auto;
  }

  .u-section-10 .u-text-13 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 832px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 59px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-11 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-list-1 {
  width: 417px;
  margin: 40px auto 0 0;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 461px;
  grid-gap: 0px;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-11 .u-text-3 {
  margin: 21px 1px 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-11 .u-text-5 {
  margin: 21px 1px 0;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-11 .u-text-7 {
  margin: 21px 1px 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px 30px 30px 60px;
}

.u-section-11 .u-form-1 {
  width: 537px;
  margin: 37px 0 0;
}

.u-section-11 .u-label-1 {
  font-weight: 700;
}

.u-section-11 .u-label-2 {
  font-weight: 700;
}

.u-section-11 .u-form-group-3 {
  margin-left: 0;
}

.u-section-11 .u-label-3 {
  font-weight: 700;
}

.u-section-11 .u-label-4 {
  font-weight: 700;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  --radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-11 .u-list-1 {
    width: 363px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-11 .u-form-1 {
    width: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-list-1 {
    width: 264px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-11 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-form-1 {
    width: 320px;
  }
}